{% capture content %}
<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  {% comment %}{% capture sb %}{% include 'sb-snippet' %}{% endcapture %}{% unless sb contains 'Liquid error' %}{% include 'sb-snippet' %}{% endunless %} {% endcomment %}
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KVTJ9BG');</script>
<!-- End Google Tag Manager -->
<!-- Smart Reviews -->
<meta name="verify-reviews" content="$2y$10$ioPl14YHsWriyruZ0xiHL.0jQnPTStHhsJ3gwcYd/dJpB6oBoWLra">
<!-- End Smart Reviews -->
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="google-site-verification" content="NE3Tuk0ZOpavrLpN8nJSYj7h0UKlXekXM1MuJO_5IuU" />

  {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%}{%- endif -%}
  <title>{%- if template contains "index" -%}{{ page_title }}{%- else -%}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{%- endif -%}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% endif %}</title>

  <link rel="preconnect dns-prefetch" href="https://fonts.shopifycdn.com" />
  <link rel="preconnect dns-prefetch" href="https://cdn.shopify.com" />
  <link rel="preconnect dns-prefetch" href="https://v.shopify.com" />
  <link rel="preconnect dns-prefetch" href="https://cdn.shopifycloud.com" />

  {% if settings.enable_shopify_review_comments %}
    <link rel="preconnect dns-prefetch" href="https://productreviews.shopifycdn.com" />
  {% endif %}

  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" type="text/css" media="all">
  {{ 'fancybox.css' | asset_url | stylesheet_tag }}
  <!-- Stylesheets for Flex "1.1.5" -->
  
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}

  {% if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 %}
    <script type="text/javascript" src="/services/javascripts/currencies.js" ></script>
  {% endif %}
  <script>
    {% include 'js-variables' %}
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="{{ 'slick.min.js' | asset_url }}"></script>
  <script defer src="{{ 'vendors.js' | asset_url }}"></script>
  <script defer src="{{ 'utilities.js' | asset_url }}"></script>
  <script defer src="{{ 'app.js' | asset_url }}"></script>

  {%- if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 -%}
    <script defer src="{{ 'currencyConversion.js' | asset_url }}"></script>
  {%- endif -%}

  {%- if settings.enable_shipping_calculator and template contains "cart" -%}
    <script defer type="text/javascript" src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
    <script defer type="text/javascript" src="{{ 'api.jquery.js' | shopify_asset_url }}"></script>
    <script defer type="text/javascript" src="/services/javascripts/countries.js"></script>
  {%- endif -%}

  <noscript>
    <style>
      /* Insert styles for styles when JS is not loaded */
    </style>
  </noscript>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
  {%- endif -%}

  {%- if settings.favicon != nil -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
  {%- else -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {%- endif -%}

  {%- if template.directory == 'customers' -%}
    <script defer src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
    <script defer src="{{ 'customer_area.js' | shopify_asset_url }}"></script>
  {%- endif -%}
  
  {% include 'judgeme_core' %}


{{ content_for_header }}

{%- render 'bold-common' -%}
{%- render 'bold-ro-init' -%}

  {% include 'social-meta-info' %}
  {% if collection.previous_product %}<link rel="prev" href="{{ collection.previous_product }}">{% endif %}
  {% if collection.next_product %}<link rel="next" href="{{ collection.next_product }}">{% endif %}

<script>
window.mlvedaShopCurrency = "{{ shop.currency }}";
window.shopCurrency = "{{ shop.currency }}";
window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
</script>
  
{% include 'hulkcode_common' %}{% if template contains 'product' or template contains 'cart' %}<script src='https://volumediscount.hulkapps.com/hulkcode.js' defer='defer'></script>{% endif %} 

  {% render 'shogun-head' %}
  
<!--StartCartCartCustomCode-->
                      
  <!-- Abandoned Cart Information -->
  <div id="care-cart-customer-information" style="display:none">
    {"id":"{{customer.id}}", "email":"{{ customer.email }}","default_address":{{ customer.default_address | json }},"first_name":"{{ customer.first_name }}","last_name":"{{ customer.last_name }}","name":"{{ customer.name }}" }
  </div>
  <!-- Abandoned Cart Information -->
  
  <!--  ShopInformation -->
  <div id="care-cart-shop-information" style="display:none">
    {"domain":"{{shop.permanent_domain}}" }
  </div>
  <!--  ShopInformation -->
  
  <!--EndCareCartCustomCode-->
  {% render 'minmaxify-head' %}
  {% include "loyaltylion" %}

  <script async src="https://schemaplus-cdn.s3.amazonaws.com/loader-df507597b0f4af0df8a843bc3dc8c710-thecannabiscoau.min.js"></script>

</head>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
  
{% if blog.title == 'Recipes' %}  
      <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Recipe",
      "name": "{{ article.title }}",
      "image": [
        "{{ article.image.src | img_url: '500x' }}"
      ],
      "datePublished": "{{ article.published_at }}",
      "description": "{{ page_description }}"
    }
    </script>
{% endif %}

<body class="{%- if template == '404' -%}
              error-404
            {% else -%}
              {{ template | replace: '.', '-' | handle }}
            {%- endif -%}
            {% if settings.header_layout == 'vertical' -%}
              has-vertical-header
            {%- endif -%}"
  data-money-format="{{ shop.money_format }}" data-shop-url="{{ shop.url }}">

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KVTJ9BG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  {%- if settings.show_announcement_bar -%}
    {% section 'announcement-bar' %}
  {%- endif -%}

  {%- if settings.header_layout == "classic" -%}
    {% section 'header__top-bar' %}
    {% section 'header-classic' %}
  {%- elsif settings.header_layout == "centered" -%}
    {% section 'header-centered__top-bar' %}
    {% section 'header-centered' %}
  {%- elsif settings.header_layout == "vertical" -%}
    {% section 'header-vertical' %}
  {%- elsif settings.header_layout == "search_focus" -%}
    {% section 'header__top-bar' %}
    {% section 'header-search-focus' %}
  {%- endif -%}

  {%- if settings.cart_action == 'drawer' -%}
    {% include 'ajax-cart' %}
  {%- endif -%}

  {% if settings.mega_menu_1 == true %}
    {% section 'mega-menu-1' %}
  {% endif %}
  {% if settings.mega_menu_2 == true %}
    {% section 'mega-menu-2' %}
  {% endif %}
  {% if settings.mega_menu_3 == true %}
    {% section 'mega-menu-3' %}
  {% endif %}
  {% if settings.mega_menu_4 == true %}
    {% section 'mega-menu-4' %}
  {% endif %}
  {% if settings.mega_menu_5 == true %}
    {% section 'mega-menu-5' %}
  {% endif %}
  {% if settings.mega_menu_6 == true %}
    {% section 'mega-menu-6' %}
  {% endif %}
  {% if settings.mega_menu_7 == true %}
    {% section 'mega-menu-7' %}
  {% endif %}
  {% if settings.mega_menu_8 == true %}
    {% section 'mega-menu-8' %}
  {% endif %}
  {% if settings.mega_menu_9 == true %}
    {% section 'mega-menu-9' %}
  {% endif %}
  {% if settings.mega_menu_10 == true %}
    {% section 'mega-menu-10' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    <div class="is-beside-vertical-header">
  {% endif %}
  
  
  <div id="template-{{ template | replace: '.', '-' | handle }}" 
        class="shopify-section 
                {%- case template.name -%}
                  {% when 'index' %}
                   index-sections
                  {% when 'product' %}
                    product-page section__wrapper
                  {% when 'collection' %}
                    collection-page
                  {% when 'cart' %}
                    cart-page
                  {% when '404' %}
                    page-not-found-page
                  {% when 'article' %}
                    article-page
                  {% when 'blog' %}
                    blog-page
                {%- endcase -%}
               " 
        data-check-for-order="true">
    {{ content_for_layout }}
  </div>

  {% if settings.footer_layout == "centered" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-centered' %}
  {% elsif settings.footer_layout == "classic" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-classic' %}
  {% elsif settings.footer_layout == "promotional" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-promotional' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    </div>
  {% endif %}

  {% if settings.show_fixed_message %}
    {% section 'fixed-message' %}
  {% endif %}

  {% if settings.enable_quickshop %}
    {% include 'quick-shop' %}
  {% endif %}

  {% if settings.search_display_style == 'popup' %}
    {% include 'search-popup' %}
  {% endif %}

  {% if settings.show_popup %}
    {% section 'popup' %}
  {% endif %}


  {% if settings.disqus_enabled %}
    {% if template contains "blog" or template contains "article" or template contains "index" %}
      <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
    {% endif %}
  {% endif %}
  


{% include 'mlveda-currencies-switcher' %}{% include 'mlveda-currencies' %}  {% include 'revy-bundle-script' %}<!-- Begin ReCharge code -->
{% include 'subscription-theme-footer' %}
<!-- End ReCharge code -->
</body>
</html>
{% endcapture %}
{% assign content = content | replace_first: '<!doctype', '!doctype' | split: ' <' %}
{%- for html in content -%}{%- assign htmlblock = html | strip | prepend: ' <' -%}{{htmlblock | replace: ' </', '</'}}{%- endfor -%}

<script> document.addEventListener('DOMContentLoaded', function(){ 
  var data;
  data = $.map($('.jdgm-badge-placeholder'), function(element) {
    var hash = {};
    var $element = $(element);
    hash['productHandle'] = $element.data('handle');
    hash['badgePlaceholder'] ='.jdgm-badge-placeholder[data-handle="' + $element.data('handle') + '"]';
    return hash;
  });
  setTimeout( function(){
    jdgm.batchRenderBadges(data);
  }, 500);
});
</script> 